@import "../../../../styles/mixins"
.main
  display: flex
  flex-direction: row
  border-bottom: 1px solid rgba(black, 0.12)
  padding-bottom: 24px
  margin-bottom: 24px

  &__img
    margin-right: 20px

    &__i
      //background: red
      width: 150px

    &__price
      position: absolute
      font-weight: 700
      margin-top: -60px
      margin-left: 20px
      color: white
      font-size: 32px

  &__info
    &__date
      margin-bottom: 16px

      &__text
        font-weight: 500
        color: rgba($colorMain, 0.4)
        margin-bottom: 4px

      &__d
        font-weight: 400
        color: rgba($colorMain, 0.88)

    &__link
      &__l
        font-weight: 400
        color: $colorGreen

  &__button
    font-weight: 400
    color: rgba($colorMain, 0.8)
    background: rgba(62, 80, 114, 0.08)
    border-radius: 8px
    padding: 10px 20px
